@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .btn-disabled {
    @apply opacity-50 cursor-not-allowed;
  }
}

h2 {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin-bottom: .75rem;
}

* {
  -webkit-tap-highlight-color: transparent;
}